@import url(reset.css);
@import url(fonts.css);

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: "TT Lakes Condensed";
    --color-rose: #FF3E79;
    --color-gray: #7E7E82;
    --border-green: #B8FFEC;
    --width-mobile: 320px;
    --width-tablet: 768px;
    --width-desktop: 1024px;
}

.header {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: normal;
    position: relative;
    z-index: 1;
}

.header__title {
    width: 300px;
    height: 40px;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    line-height: 40px;
    letter-spacing: -0.6px;
    position: relative;
    right: 0;
    left: 20px;
    margin-top: 20px;
}

.header__title::before {
    content: url(/img/vector.png);
    display: block;
    position: absolute;
    left: -22px;
    top: -20px;
    transform: scale(0.7);
}

.panel {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: normal;
    color: var(--color-gray);
}

.info-section__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 10px;
}

.info-section__button {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;

}

.info-section__button::before {
    content: url(/img/vector-down.png);
    width: fit-content;
    position: absolute;
    top: -1px;
    left: 0;
    transform: scale(0.5);
    animation: bounce 0.5s ease-in-out 0.1s infinite normal backwards;
}

@keyframes bounce {
    0% {
        transform: translateY(0) scale(0.5)
    }

    25% {
        transform: translateY(1px) scale(0.51) 
    }

    50% {
        transform: translateY(2px) scale(0.52)
    }

    75% {
        transform: translateY(3px) scale(0.53)
    }

    100% {
        transform: translateY(4px) scale(0.54)
    }
}


/* Nav Bar */
.vertical-navigation-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: var(--width-mobile);
    height: 1024px;
    /* background-color: bisque; */

    position: absolute;
    top: 0;
    z-index: 2;
}

.header__nav {
    display: block;
    width: inherit;
    height: auto;
}

.header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: auto;
    padding: 24px 16px;
     
    /* background-color: #c5bcbf; */
}

.header__list 
.header__item
.header__img {
    width: 28px;
    height: 28px;
}

.header__list_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    height: auto;
}

.header__list_left .header__item:nth-child(2) {
    background: none;
}

.header__list_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: auto;
}

.nav {
    display: block;
    width: inherit;
    height: 876px;
    padding: 34px 32px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: inherit;
    height: inherit;
}

.nav__list-up {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;

    width: inherit;
    height: auto;
}

.nav__item {
    position: relative;
}

.nav__item::before {
    content: url(/img/vector.png);
    display: none;
    position: absolute;
    top: -30px;
    left: -34px;
    transform: scale(0.5);
    user-select: none;
    pointer-events: none;
}

.nav__item:hover::before {
    display: block;
}

.nav__item:hover {
    cursor: pointer;
    color: var(--color-gray);
}

.nav__list-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: inherit;
    height: 200px;
}

.nav__content {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.contact-us-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: inherit;
    height: 65px;
}

.nav__item-email {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;  
}

.nav__item-phone {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: -0.6px;
}

.language-content {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px; 
}

.nav__item-language:first-child {
    color: var(--color-gray);
}

/* Mobile */
@media only screen and (min-width: 320px) {
    .header__nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 320px;
        height: auto;
    }

    .header__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        width: 320px;
        height: auto;
        padding: 24px 16px;
    }

    .header__content_left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        height: auto;
    }

    .header__content_left .header__item:nth-child(2) {
        display: none;
    }
    
    .header__content_right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: auto;
    }

    .header__content_right .header__item:nth-child(1),
    .header__content_right .header__item:nth-child(2),
    .header__content_right .header__item:nth-child(3) {
        display: none;
    }


    .header__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--color-rose);
        cursor: pointer;
    }

    .header__content_left .header__item:nth-child(3),
    .header__content_right .header__item:nth-child(4) {
        background: none;
        width: none;
        height: auto;
        cursor: default;
    }

    .header__img {
        width: 20px;
        height: 20px;
    }

    .header__img-logo {
        width: 96px;
        height: 50px;
        margin-left: 85px;
    }

    .header__img-divider {
        width: 2px;
        height: 32px;
        margin-left: 14px;
    }

    .panel {
        display: block;
        width: var(--width-mobile);
        height: auto;
        margin-top: 20px;
        margin-bottom: 50px;
        position: relative;
    }

    .panel__nav {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .panel__content {
        display: flex;
        flex-wrap: nowrap;
        gap: 25px;
    }

    .panel__item {
        display: inline-block;
        width: fit-content;
        white-space: nowrap;
        padding: 0 10px;
        height: fit-content;
        text-align: center;
        align-items: center;
        border: 2px solid transparent;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    
    .panel__item:first-child {
        margin-left: 22px;
    }  
    
    .panel__item:hover {
        border: 2px solid var(--border-green); 
    }

    .info-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: var(--width-mobile);
    }

    .info-section__article {
        display: block;
        padding: 0 22px;
    }

    .info-section__article .info-section__text:nth-child(2),
    .info-section__article .info-section__text:nth-child(3) {
        display: none;
    }

    .info-section__img {
        width: 100%;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: var(--width-tablet);
        height: auto;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 768px;
        height: auto;
    }

    .header__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: inherit;
        padding: 24px 16px;
    }

    .header__content_left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .header__content_right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .header__content_left .header__item:nth-child(2),
    .header__content_right .header__item:nth-child(1),
    .header__content_right .header__item:nth-child(2),
    .header__content_right .header__item:nth-child(3){
        display: flex;
    }

    .header__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--color-rose);
        cursor: pointer;
    }

    .header__content_right .header__item {
        margin-left: 0;
    }

    .header__content_right .header__item:nth-child(1), 
    .header__content_right .header__item:nth-child(2), 
    .header__content_right .header__item:nth-child(3) {
        margin-left: 15px;
    }

    .header__content_right .header__item:nth-child(5), 
    .header__content_right .header__item:nth-child(6) {
        margin-left: 15px;
    }

    .header__content_left .header__item:nth-child(2),
    .header__content_left .header__item:nth-child(3),
    .header__content_right .header__item:nth-child(4) {
        background: none;
        width: none;
        height: auto;
        cursor: default;
    }

    .header__content_right .header__item:nth-child(2),
    .header__content_right .header__item:nth-child(3) {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--color-rose);
        cursor: pointer;
    }

    .header__img {
        width: 20px;
        height: 20px;
    }

    .header__img-logo {
        width: 96px;
        height: 50px;
        margin-left: 60px;
        
    }

    .header__img-divider {
        width: 2px;
        height: 32px;
        margin-left: 5px;
    }    

    .header__content_right .header__img-divider {
        width: 2px;
        height: 32px;
        margin-left: 20px;
    } 

    .panel {
        display: block;
        width: var(--width-tablet);
        height: auto;
        margin-top: 20px;
        position: relative;
    }

    .panel__nav {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .panel__content {
        display: flex;
        flex-wrap: nowrap;
        gap: 25px;
    }

    .panel__item {
        display: inline-block;
        width: fit-content;
        white-space: nowrap;
        padding: 0 10px;
        height: fit-content;
        text-align: center;
        align-items: center;
        border: 2px solid transparent;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    
    .panel__item:first-child {
        margin-left: 22px;
    }  
    
    .panel__item:hover {
        border: 2px solid var(--border-green); 
    }

    .info-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: var(--width-tablet);
    }

    .info-section__article {
        display: block;
        padding: 0 22px;
        width: 50%;
    }

    .info-section__article .info-section__text:nth-child(2) {
        display: -webkit-box;
        -webkit-box-orient: vertical; 
        overflow: hidden; 
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;  
    }

    .info-section__article .info-section__text:nth-child(3) {
        display: none;
    }

    .info-section__aside {
        display: block;
        width: 50%;
    }

    .info-section__img {
        width: 100%;
    }

    .vertical-navigation-bar {
        display: none;
    }
}

/* Desktop */
@media only screen and (min-width: 1024px) { 
    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: var(--width-desktop);
        height: auto;
        position: relative;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--width-desktop);
        height: auto;
    }

    .header__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: inherit;
        padding: 24px 16px;
    }

    .header__content_left {
        display: none;
    }

    .header__content_right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 500px;
        gap: 130px;
    }

    .header__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--color-rose);
        cursor: pointer;
        position: relative;
    }

    .header__item:nth-child(1) {
        background: aqua;
    }

    .header__item::before{
        content: "Оставить заявку";
        position: absolute;
        top: translateY(50%);
        right: 10px;
        margin-right: 30px;
        width: 120px;
        cursor: pointer;
    }
    
    .header__item:last-child::before{
        content: "Статус ремонта";
    }

    .header__content_right .header__item:nth-child(1), 
    .header__content_right .header__item:nth-child(2), 
    .header__content_right .header__item:nth-child(3),
    .header__content_right .header__item:nth-child(4) {
        display: none;
    }

    .header__img {
        width: 20px;
        height: 20px;
    }

    .header__title {
        position: absolute;
        top: 0;
        left: translateY(50%);
    }

    .panel {
        display: block;
        width: var(--width-desktop);
        height: auto;
        margin-top: 20px;
        margin-bottom: 110px;
        position: relative;
    }

    .panel__nav {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .panel__content {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }

    .panel__item {
        display: inline-block;
        width: fit-content;
        white-space: nowrap;
        padding: 0 10px;
        height: fit-content;
        text-align: center;
        align-items: center;
        border: 2px solid transparent;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    
    .panel__item:first-child {
        margin-left: 22px;
    }  
    
    .panel__item:hover {
        border: 2px solid var(--border-green); 
    }
    
    .panel__item:last-child {
        margin-left: 22px;
    }

    .info-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: var(--width-desktop);
        height: auto;
        padding: 0 16px;
    }

    .info-section__article {
        display: block;
    }

    .info-section__article .info-section__text:nth-child(2) {
        display: block;
    }

    .info-section__aside {
        display: block;
        padding: 0 35px;
    }

    .info-section__img {
        width: 530px;
        height: 307px;
    }

    .vertical-navigation-bar {
        display: none;
    }
}